<div *ngIf="selectedItemsWithCount.length > 0">
  <h2>Selected Items:</h2>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of selectedItemsWithCount; let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.count }}</td>
        <td>{{ item.price * item.count }}</td>
        <td><button (click)="removeItem(i)">Remove</button></td> <!-- Add Remove button -->
      </tr>
    </tbody>
  </table>
  <p>Total Price : {{ totalSum }}</p>
  <button (click)="goBack()">Go Back</button>
</div>
<div *ngIf="selectedItemsWithCount.length === 0">
  <button (click)="goBack()">Go Back</button>
  <p>No items selected.</p>
</div>
