
<div class="header">
  <h1>SHOPPING CART</h1>
</div>
<!-- item-list.component.html -->
<div class="container">



  <div class="filter">
    <input type="text" placeholder="Search by name" [(ngModel)]="nameFilter">
    <input type="text" placeholder="Search by color" [(ngModel)]="colorFilter">
    <input type="number" placeholder="Search by price" [(ngModel)]="priceFilter">
    <button (click)="applyFilters()">Search</button>
  </div>

  <button (click)="goToCheckout()" class="cart">CART ITEMS ({{ selectedItems.length }})</button>

  <ul class="product-list">
    <li *ngFor="let product of filteredProducts" class="product-card">
      <div class="product-info">
        <h2>{{ product.name }}</h2>
        <p>Color: {{ product.color }}</p>
        <p>Price: {{ product.price }}</p>
        <button (click)="addToCart(product)">Add to Cart</button>
      </div>
      <img src="{{ product.img }}" alt="{{ product.name }}">
    </li>
  </ul>
</div>
