<!-- item-list.component.html -->
<div class="container">
  <h1>SHOPPING CART</h1>
  <div class="filter">
    <input type="text" placeholder="Search by name" [(ngModel)]="nameFilter">
    <input type="text" placeholder="Search by color" [(ngModel)]="colorFilter">
    <input type="number" placeholder="Search by price" [(ngModel)]="priceFilter">
    <button (click)="applyFilters()">Search</button>
  </div>

  <button (click)="goToCheckout()">CART ITEMS ({{ selectedItems.length }})</button>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td>{{ product.name }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.price }}</td>
        <td><button (click)="addToCart(product)">Add to Cart</button></td>
        <td>
          <button (click)="removeFromCart(product)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
